/* color palette from <https://github.com/vuejs/theme> */

:root {
  --vt-white: #ffffff;
  --vt-black: #000000;
  --vt-black-light: #373737;
  --vt-bg-black-transparent: rgba(0, 0, 0, 0.5);

  --vt-grey-dark: #ccc;
  --vt-grey: #EBEBEB;
  --vt-blue: #2E70F3;
  --vt-blue-light: #93b5f9;
  --vt-purple: #B05AD1;
  --vt-purple-light: #AF8AD5;
  --vt-red: #D4333A;
  --vt-radius: 10px;


  --vt-gradient-bg: linear-gradient(to right,
      var(--vt-blue-light),
      var(--vt-white),
      var(--vt-blue-light));
  --vt-gradient-bg-mask: linear-gradient(to bottom,
      rgba(0, 0, 0, 1) 80%,
      rgba(0, 0, 0, 0) 100%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-black);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
  text-decoration: none;
}

body {
  /* min-height: 100vh; */
  /* color: var(--color-text); */
  /* background: var(--color-background); */
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  padding: 0;
  list-style-type: none;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;

  cursor: pointer;
}

html,
body,
#app {
  height: 100%;
  margin: 0;
}

#app {
  display: flex;
  flex-direction: column;
}
