@import '/src/app/styles/base.css';

.base-body {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 30px 0;
}

.base-container {
  max-width: 70%;
  width: 100%;
  z-index: 2;
}

.base-title {
  max-width: 65%;
  margin: 0 auto;
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  margin-bottom: 50px;
}

.base-subtitle {
  max-width: 60%;
  margin: 0 auto;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 30px;
}

.base-text {
  font-size: 20px;
}

@media (max-width: 1024px) {
  .base-container {
    max-width: 90%;
  }

  .base-title {
    max-width: 90%;
    font-size: 36px;
    line-height: 40px;

  }

  .base-text {
    font-size: 18px;
  }
}

@media(max-width: 768px) {
  .base-title {
    font-size: 32px;
  }
}

@media(max-width: 425px) {
  .base-title {
    font-size: 28px;
  }
}
